body{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #67A1BC 20%, #90B7BF 50%);
}
.top-section{
    flex-direction: column;
    color: black;
    padding: 100px;
    align-items: start;
    text-align: start;
    margin-left: 400px;
    margin-top: 100px;
    background:url(../assets/cloud_small.png) ;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center left 100px;
}
.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 20px;
     background:url(../assets/cloud_left.png), url(../assets/cloud_right.png);
     background-repeat: no-repeat;
     background-position:left  top 50px, right  bottom 40px;
     background-size: 400px, 600px;
}
.card{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.text{
    display: flex;
    justify-content: flex-end;
}


.main-footer{
    background: url(../assets/footer_bg.png) center/cover no-repeat;
    padding: 400px ;
    text-align: center;
}

.footer-container{
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 14px;
    padding: 60px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-column{
    color: var(--yellow); 
    font-size: 16px; 
    margin-bottom: 12px; 
    border-bottom: 2px solid var(--yellow); 
    padding-bottom: 4px;
    >ul{
        color: white;
        margin-bottom: 8px; 
        font-size: 14px;
        padding: 15px;
    }
    >h4{
        text-decoration: underline;
    }
}
  .newsletter { 
    max-width: 420px; 
    >p{
        font-size: 14px; 
        margin-bottom: 14px; 
        opacity: 0.9;
    }
    >p span{
        color: var(--yellow); 
        font-weight: bold;
    }
  } 

  .newsletter-form { 
    display: flex; 
    gap: 10px; 
    >input{
        flex: 1; 
        padding: 10px 14px; 
        border-radius: 999px; 
        border: 2px solid var(--yellow); 
        background: transparent; 
        color: white;
    }
    >button{
        padding: 10px ; 
        border-radius: 999px; 
        background-color: var(--yellow); 
        color: black;
    }
  } 
  .footer-bottom{
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.671);
    text-align: center; 
    font-size: 20px;  
    margin-top: 20px; 
    padding: 10px;
    >p{
        color: rgba(128, 128, 128, 0.932);
    }
  }