.hero-banner{
    background-image: url(../assets/Banner_image.png);
    height: 484px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;

}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}
.hero-content > h1{
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(32px, 4vw, 70px);
}
.hero-content > a{
    color: var(--text-white);
    background-color: black;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 800;
    padding: 16px;
}
.home-testimonials{
    background-color: var(--yellow);
    padding: 8px;
    border-bottom: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.h-testimonial{
    display: flex;
    gap: 8px;
    background-color: black;
    border: 1px solid var(--red);
    color: var(--text-white);
    padding-right: 8px;
    align-items: center;
}

.t-rating{
    align-self: stretch;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    color: var(--red);
    font-weight: 800;
    padding-left: 8px;
    padding-right: 8px;
    border-radius:0px 16px 16px 0px;
}

.t-text{
    padding-top: 8px;
    padding-bottom: 8px;
}

.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    >h1{
        text-decoration: underline;
    }
}
.games{
display: flex;
justify-content: center;
flex-direction: row;
padding: 15px;
gap: 25px;

}

.game-content> a{
    color: var(--text-white);
    background-color: black;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 800;
    padding: 16px;
}

.benefit-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 90%;
    max-width: 600%;
}

.benefit-box{
    border: 2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
 >h2{
    text-decoration: underline;
 }

}

.bullet{
    display: flex;
    border: 1px solid var(--text-black);
    border-radius: 32px 4px 4px 32px;
}

.bullet-nr{
    border-right: 1px solid var(--text-black);
    width: 30px;
    padding: 4px;
}

.bullet-text{
    padding: 4px;
}

.benefit-box.wide{
    grid-column: span 2;
}

.yellow{
    background-color: var(--yellow);
    border-bottom-left-radius: 128px;
    border-bottom-right-radius: 128px;
    
    
}

.cream, .cream-bg{
    background-color: var(--cream);

}

.blue{
    background-color: var(--blue-light);
    border-radius: 128px 128px 0px 0px;
}

.game-container{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
gap: 25px;
padding: 15px;
}

.label {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 10px;
  font-size: 14px;
  border-radius: 0px 0px 10px 10px;
}

.game-roots{ 
  border-radius: 10px 10px 15px 15px;
  background-color: var(--cream);

  > img {
    filter: drop-shadow(0px 5px 8px black);
  }
}
.game-wrap{
display: flex;
justify-content: center;
flex-direction: row;
gap: 25px;
padding: 15px;
}

.main-footer{
    background: url(../assets/footer_bg.png) center/cover no-repeat;
    padding: 400px ;
    text-align: center;
}