.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 100px;
}
