.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 100px;
}

.container {
  text-align: center;
  padding: 40px;
  font-size: 40px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 30px;
}

.review2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  padding: 30px;
  margin-left: 80px;
}

.review3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  padding: 10px;
  margin-left: 100px;
}

.bubble {
  background: rgba(255, 255, 255, 0.934);
  border-radius: 100px;
  padding: 4px;
  width: 300px;
  >h6{
  margin: 8px 0;
  font-size: 18px;
  color: black;
  }
  >span{
  font-size: 0.85rem;
  color:black;
  text-decoration: underline;
  margin-bottom: 50px;
  }
}
.form-bubble {
  background: white;
  border-radius: 100px;
  padding: 20px;
  margin: 50px auto 0;
  width: 650px;
  color: black;
  font-size: 20px;
 
}

.form-bubble input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: black;
}

button {
  background: #3aaed8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.main-footer{
    background: url(../assets/footer_bg.png) center/cover no-repeat;
    padding: 200px ;
    text-align: center;
}

.footer-container{
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 14px;
    padding: 60px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-column{
    color: var(--yellow); 
    font-size: 16px; 
    margin-bottom: 12px; 
    border-bottom: 2px solid var(--yellow); 
    padding-bottom: 4px;
    >ul{
        color: white;
        margin-bottom: 8px; 
        font-size: 14px;
        padding: 15px;
    }
    >h4{
        text-decoration: underline;
    }
}
  .newsletter { 
    max-width: 420px; 
    >p{
        font-size: 14px; 
        margin-bottom: 14px; 
        opacity: 0.9;
    }
    >p span{
        color: var(--yellow); 
        font-weight: bold;
    }
  } 

  .newsletter-form { 
    display: flex; 
    gap: 10px; 
    >input{
        flex: 1; 
        padding: 10px 14px; 
        border-radius: 999px; 
        border: 2px solid var(--yellow); 
        background: transparent; 
        color: white;
    }
    >button{
        padding: 10px ; 
        border-radius: 999px; 
        background-color: var(--yellow); 
        color: black;
    }
  } 
  .footer-bottom{
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.671);
    text-align: center; 
    font-size: 20px;  
    margin-top: 20px; 
    padding: 10px;
    >p{
        color: rgba(128, 128, 128, 0.932);
    }
  }
